<div class="row">
    <div class="col-md-6">
        <canvas chart-click="onClick" chart-data="linedata" chart-labels="linelabels" chart-legend="true" chart-series="lineseries" class="chart chart-line" colours="colours" id="line">
        </canvas>
    </div>
     <div class="col-md-6">
        <canvas chart-data="doughnutdata" chart-labels="doughnutlabels" class="chart chart-doughnut" id="doughnut">
        </canvas>
    </div>
</div>
<div class="row">

    <div class="col-md-6">
        <canvas chart-data="radardata" chart-labels="radarlabels" class="chart chart-radar" id="radar">
        </canvas>
    </div>
    <div class="col-md-6">
        <canvas chart-data="bardata" chart-labels="barlabels" chart-series="barseries" class="chart chart-bar" id="bar">
        </canvas>
    </div>
</div>
