<div class="row">
    <div class="col-md-9">
    	<h2 ng-show="!cartItems.length">No Item In Cart <a href="#/cart">Go to home</a></h2>
        <table ng-hide="!cartItems.length" class="table table-striped table-condensed table-bordered table-hover">
            <thead>
                <tr>
                    <th class="text-center">
                        PHOTO
                    </th>
                    <th>
                        ID
                    </th>
                    <th>
                        NAME
                    </th>
                    <th class="text-right">
                        PRICE
                    </th>
                    <th class="text-right">
                        QUANTITY
                    </th>
                    <th class="text-right">
                        AMOUNT
                    </th>
                    <th class="text-center">
                        ACTION
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="cartItem in cartItems">
                    <td class="text-center">
                        <img alt="{{cartItem.name}}" class="img" ng-src="{{cartItem.photo}}" width="40"/>
                    </td>
                    <td>
                        {{cartItem.id}}
                    </td>
                    <td>
                        {{cartItem.name}}
                    </td>
                    <td class="text-right">
                        {{cartItem.price |currency:'৳ '}}
                    </td>
                    <td class="text-right">
                        {{cartItem.quantity}}
                    </td>
                    <td class="text-right">
                        {{cartItem.price*cartItem.quantity |currency:'৳ '}}
                    </td>
                    <td class="text-center">
                        <div class="btn-group">
                            <button class="btn btn-xs btn-success" ng-click="increaseCartItem(cartItem.id)">
                                +
                            </button>
                            <button class="btn btn-xs btn-warning" ng-click="discreaseCartItem(cartItem.id)">
                                -
                            </button>
                            <button class="btn btn-xs btn-danger" remove="removeCartItem(cartItem.id)">
                                X
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
            <tfoot>
            	<tr>
                	<th class="text-right" colspan="5">
                		Shipping Location
                	</th>
                	<th class="text-right">
                		<select name="" class="form-control text-right" ng-model="shipping_area" ng-change="shippingCal()">
                			<option value="Chittagong">Chittagong</option>
                			<option value="Other">Other</option>
                		</select>
                	</th>
                </tr>
                <tr>
                	<th class="text-right" colspan="5">
                		Shipping Cost
                		

                	</th>
                	<th class="text-right"><input type="text" class="form-control text-right input-sm" readonly="readonly" ng-model="shipping_cost"></th>
                </tr>
                <tr>
                    <th colspan="5" class="text-right">
                        <strong>Total</strong>
                    </th>
                    <th class="text-right">
                        <strong>
                            <span>{{(getCartTotal()+shipping_cost)|currency:'৳ '}}
                            </span>
                        </strong>
                    </th>
                </tr>
            </tfoot>
        </table>
    </div>
    <div class="col-md-3">
    </div>
</div>